<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>体育健康</title>
</head>
<body>
<link href="../static/css/club_style1.css" rel="stylesheet" media="screen" type="text/css" />
<div class="con">
  <div class="head">

    <div class="nav">
      <ul>
        <li><a href="club_index1.html">首页 </a></li>
        <li><a href="club_index2.html">学术创新 </a></li>
        <li><a href="club01_Voluntary_Public_Welfare.html">志愿公益 </a></li>
        <li><a href="club02_Physical_Health.html">体育健康 </a></li>
        <li><a href="club03_Campus_Service.html">校园服务 </a></li>
        <li><a href="club04_Culture_And_Art.html">文化艺术 </a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <!------------------ end nav--------------------------->
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="main">
    <div class="left">
      <div class=" l1"><a href="#"><img src="../static/img/swjtu_logo_1.1_sm.png"  alt="图片"/></a></div>
      <div class="left_nav">
        <ul>
          <li><a href="club_index2.html">学术创新 </a><span><a href="club_index2.html">13 </a></span></li>
          <li><a href="club01_Voluntary_Public_Welfare.html">志愿公益 </a><span><a href="club01_Voluntary_Public_Welfare.html">3 </a></span></li>
          <li><a href="club02_Physical_Health.html">体育健康 </a><span><a href="club02_Physical_Health.html">9</a></span></li>
          <li><a href="club03_Campus_Service.html">校园服务 </a><span><a href="club03_Campus_Service.html">7</a></span></li>
          <li><a href="club04_Culture_And_Art.html">文化艺术 </a><span><a href="club04_Culture_And_Art.html">8</a></span></li>
        </ul>
      </div>
      <!------------------ end left_nav--------------------------->

    </div>
    <!------------------ end left--------------------------->
    <div class="right">
      <div class="right_des">
        <h1>体育健康社团</h1>
        <h3 class="pass"><strong>体育舞蹈协会</strong></h3>
        <p>西南交大体育舞蹈协会成立于1999年，社团以陶冶当代大学生情操，弘扬交大体育舞蹈精神为宗旨。成立至今，
          协会已成长为五星级社团。协会在平时以“以老带新”的方式进行体育舞蹈日常训练。协会举行的迎新晚会、国标舞大赛在全校范围内都有很大的影响。
          此外，我们还在协会内举行会员大会、春游、轰趴等活动，以丰富当代大学生的课余生活。</p>
        <div class="m10"><a href="#"><img src="../static/img/体育舞蹈协会.jpg"  alt="图片"/></a></div>
        <h3><strong>乒乓球协会</strong></h3>
        <p>交大乒协成立于1992年10月，至今已经度过31载春秋。每年，乒协都会举办新生乒乓球赛、院系乒乓球联赛、俱乐部赛等比赛项目，
          这些比赛在学校中都颇受欢迎，每届比赛都会吸引众多乒乓球爱好者的积极参加。协会也多次组织乒协精英参加各类省级比赛和高校联赛等赛事，屡获佳绩。</p>
        <div class="m10"><a href="#"><img src="../static/img/乒乓球协会.jpg"  alt="图片"/></a></div>
        <h3><strong>篮球协会</strong></h3>
        <p>西南交通大学篮球协会是交大最早成立的社团之一，也是受学生广泛喜爱的一个社团，校内十佳社团之一。虽然我们也许不能让每一位社员都能成为顶尖的篮球高手，
          但我们一定会让协会中的每一名成员从篮球中收获快乐体会到篮球的无限魅力，在这里不仅可以提高你的篮球技术，也可以交到许多知心朋友，同时不同专业，
          不同年级之间的同学能在这个舞台上互相了解，相互沟通，大家一起共同进步。</p>
        <div class="m10"><a href="#"><img src="../static/img/篮球协会.jpg"  alt="图片"/></a></div>
        <h3><strong>排球协会</strong></h3>
        <p>西南交通大学排球协会成立于1999年，如今已走过二十多年风风雨雨。这里有最热烈的青春：每一天下午4点的北区排球场，每一次烈日下的比赛，
          用汗水拼搏，这里有青春该有的样子。这里有最温暖的氛围：热情的学姐学长带你打球，也带你烧烤奶茶狼人杀。能分享排球小知识，也解答专业课学习各种问题。
          这里有最难忘的友谊：球场上的队友，球场下的朋友。四年，跟着排协过日子，留下你们最美好的大学时光。所以你还在等什么？快来加入排协大家庭吧！！！</p>
        <div class="m10"><a href="#"><img src="../static/img/排球协会.jpg"  alt="图片"/></a></div>
        <h3><strong>极限飞盘协会</strong></h3>
        <p>极限飞盘协会成立于2018年。这有正儿八经玩飞盘的一帮小伙伴。嗯对不是给狗玩的那个飞盘。
          极限飞盘是一项七人制的团队竞技项目，因为它特有的团队合作性和男女公平竞争性而广受欢迎。在协会里我们不仅有技术过硬的社员手把手教飞盘，
          也有无数热爱飞盘的小伙伴！我们以每周一玩一训的方式开展日常社团活动，并不定期面向校内学生开展团队飞盘公开比赛、飞盘技巧赛以及躲避盘等团队比赛。
          在探索飞盘的独特魅力和趣味的同时我们也追求高水平的飞盘竞技。通过日常训练，我们还会组织一批队员与成都范围内的其他高校进行交流比赛，邀请成都飞盘大队来指导训练。</p>
        <div class="m10"><a href="#"><img src="../static/img/极限飞盘协会.jpg"  alt="图片"/></a></div>
        <h3><strong>跆拳道协会</strong></h3>
        <p>西南交大跆拳道协会成立于2008年，属于体育健身类协会。在成立的十余年中，跆协秉持礼仪，廉耻，忍耐，克己，百折不屈的跆拳道精神，积极传播着跆拳道文化。
          平时维持与促进社团成员之间的关系，计划好下次训练的内容，每年或每学期与其他的社团联合举办活动或自己单独举办活动。</p>
        <div class="m10"><a href="#"><img src="../static/img/跆拳道协会.jpg"  alt="图片"/></a></div>
        <h3><strong>网球协会</strong></h3>
        <p>这里有网球大牛，也有捡球技术炉火纯青的菜鸟；有高技术力的死宅，也有开朗外向的阳光少年；有漂亮小姐姐，也有帅气大哥哥。人们因网球聚在一起，一起切磋网球技术，
          并思考着如何把一次次网球活动举办得精彩有趣。他们也许那么不同，却说着共同的话语：“我向网，我追球”</p>
        <div class="m10"><a href="#"><img src="../static/img/网球协会.jpg"  alt="图片"/></a></div>
        <h3><strong>羽毛球协会</strong></h3>
        <p>西南交通大学羽毛球协会是交大羽毛球爱好者的聚集地。在这里，有许多热爱羽毛球的朋友。我们一起切磋球技，分享经验，共同进步。因为羽毛球，我们聚在一起；因为交大羽协，我们的青春不孤单</p>
        <div class="m10"><a href="#"><img src="../static/img/羽毛球协会.jpg"  alt="图片"/></a></div>
        <h3><strong>健身协会</strong></h3>
        <p>西南交通大学健身协会是依托于西南交通大学健身房的体育类学生社团组织，是目前学校唯一一个专门面向健身领域而设立的社团组织。
          本协会旨在为同学们提供良好的健身环境与专业的健身知识，让同学们在学习之余，能强健体魄、塑造体形，进而提高身体素质，实现自身的全面发展。</p>
        <div class="m10"><a href="#"><img src="../static/img/健身协会.jpg"  alt="图片"/></a></div>


      </div>
      <!------------------ end article_nav--------------------------->
    </div>
    <!------------------ end right--------------------------->
    <div class="clear"></div>
  </div>
  <!------------------ end main--------------------------->
  <div class="clear"></div>
  <div class="foot">
    <p>Copyright 2022</p>
    <p>All Rights Reserved</p>
  </div>
</div>
<script type="text/javascript" src="../static/js/club.js"> </script>
</body>
</html>