<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校园服务</title>
</head>
<body>
<link href="../static/css/club_style1.css" rel="stylesheet" media="screen" type="text/css" />
<div class="con">
  <div class="head">

    <div class="nav">
      <ul>
        <li><a href="club_index1.html">首页 </a></li>
        <li><a href="club_index2.html">学术创新 </a></li>
        <li><a href="club01_Voluntary_Public_Welfare.html">志愿公益 </a></li>
        <li><a href="club02_Physical_Health.html">体育健康 </a></li>
        <li><a href="club03_Campus_Service.html">校园服务 </a></li>
        <li><a href="club04_Culture_And_Art.html">文化艺术 </a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <!------------------ end nav--------------------------->
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="main">
    <div class="left">
      <div class=" l1"><a href="#"><img src="../static/img/swjtu_logo_1.1_sm.png"  alt="图片"/></a></div>
      <div class="left_nav">
        <ul>
          <li><a href="club_index2.html">学术创新 </a><span><a href="club_index2.html">13 </a></span></li>
          <li><a href="club01_Voluntary_Public_Welfare.html">志愿公益 </a><span><a href="club01_Voluntary_Public_Welfare.html">3 </a></span></li>
          <li><a href="club02_Physical_Health.html">体育健康 </a><span><a href="club02_Physical_Health.html">9</a></span></li>
          <li><a href="club03_Campus_Service.html">校园服务 </a><span><a href="club03_Campus_Service.html">7</a></span></li>
          <li><a href="club04_Culture_And_Art.html">文化艺术 </a><span><a href="club04_Culture_And_Art.html">8</a></span></li>
        </ul>
      </div>
      <!------------------ end left_nav--------------------------->

    </div>
    <!------------------ end left--------------------------->
    <div class="right">
      <div class="right_des">
        <h1>校园服务社团</h1>
        <h3 class="pass"><strong>安全教育协会</strong></h3>
        <p>西南交通大学安全教育协会由学校党委保卫部发起，成立于2019年10月。协会主要在全校范围内开展安全教育知识的普及、宣传活动，为全校师生建立科学化、常态化、
          信息化的安全教育体系。主要活动：利用保卫处微信公众号或学校其他平台开展安全教育有关的法律法规、案例等的宣传工作；协助选拔、组织、协助培训学生参加成都市消防运动会协助保卫处办公室、
          消防科、治安科、交通科、武装部、调研科等部门开展相关活动；协助开展5.12、11.9安全教育月相关活动等。</p>
        <div class="m10"><a href="#"><img src="../static/img/安全教育协会.jpg"  alt="图片"/></a></div>
        <h3><strong>交大Kelly说协会</strong></h3>
        <p>交大Kelly说协会是交大Kelly说公众号的附属协会，公众号获得“全国优秀校媒（30强）”、“四川十佳校媒”等多项荣誉。Kelly说坚持日日推文，保证精品。我们始终共进退，
          立志成为全国最好的高校网络思政自媒体平台✨在这里，你可以收获一群志同道合的朋友，培养新媒体思维，学习新媒体文章的选题与写作，掌握秀米排版新技能，认识学科大佬…你想要的，Kelly说都有！
          我们希望可以给大家提供一个更大更好的平台，让大家可以展示自己，提升自己✨</p>
        <div class="m10"><a href="#"><img src="../static/img/交大Kelly说协会.jpg"  alt="图片"/></a></div>
        <h3><strong>西南交通大学文物协会</strong></h3>
        <p>西南交通大学文物协会是2015年成立的学生社团和公益服务组织，立足于西南交通大学建筑小品保护，保护范围从交大历史杰出校友的石像、
          各式具有象征意义的小建筑及各届校友赠送母校的石像到“竢实杨华，自强不息”的交大精神。社团宗旨是发掘并宣传西南交通大学作为教育遗产的价值，保护交大文物，传递交大记忆。
          同时以传播考古知识，唤起文物保护意识为宗旨，以倡导共同学习和分享知识与审美体验为自我定位，为交大学子提供走进文物世界与聆听考古学智慧的桥梁。</p>
        <div class="m10"><a href="#"><img src="../static/img/西南交通大学文物协会.jpg"  alt="图片"/></a></div>
        <h3><strong>书志——图书馆学生管理委员会</strong></h3>
        <p>社团成立于2014年09月，至今已成立八年，曾分别于2017.06荣获全国阅读推广十佳社团，2018.04荣获2018年度校园十佳社团第二名，2019年荣获校十佳社团第一名。书志-图管会本着服务师生，
          推广阅读的宗旨，
          致力于服务图书馆与全校学生，进行阅读推广与文化传承。社团内部氛围融洽，注重团队的建设以及成员的能力培养，力求让大家在感受到书志大家庭温暖的同时有所收获与成长。</p>
        <div class="m10"><a href="#"><img src="../static/img/书志——图书馆学生管理委员会.jpg"  alt="图片"/></a></div>
        <h3><strong>招生宣传志愿者协会</strong></h3>
        <p>在以校史以及学校文化主题的户外线路闯关游戏中丰富大学生活，培养团结合作意识，认识交大精神，增强爱校情绪，扩大交际圈，在一定程度倡导同学们走出寝室，
          游览校园，发现校园中曾经未曾注意到的美好，同时促进同学们更好的了解犀浦校区的地点分布，特色建筑以及校史知识等。</p>
        <div class="m10"><a href="#"><img src="../static/img/招生宣传志愿者协会.jpg"  alt="图片"/></a></div>
        <h3><strong>大学生就业与创业协会</strong></h3>
        <p>社团简介大学生就业与创业协会是一家旨在于为在校学生进入社会之前初步了解就业与创业基本知识并且提供宝贵的职场体验机会的社团。西南交通大学销售大赛让同学们自己进货、寻找销路，体验销售之快；
          创业大讲堂让同学们在进入社会之前就可以在前辈的指引下了解创业路上的坎坷和精彩。就业与创业协会凭借着内容充实又丰富多彩的课外活动，在学生之间积累了大量的人气。</p>
        <div class="m10"><a href="#"><img src="../static/img/大学生就业与创业协会.jpg"  alt="图片"/></a></div>
        <h3><strong>启梦社</strong></h3>
        <p>西南交通大学启梦社是专注于乡村夏令营模式的大学生短期支教公益社团。成立于2014年，七年间已组建24支队伍，累计服务约2000名乡村儿童，致力于为乡村儿童带来快乐、充实的夏令营和夏令营活动体验，
          与孩子平等对话，共同生长。在启梦，你会收获全方位的志愿者培训：工作坊、教学培训、一日营等沉浸式体验并带领的活动。启梦就像一个大家庭一样，给你意想不到的温暖：
          城市挑战、国王天使、冬日聚会等增进了社员之间的连接。</p>
        <div class="m10"><a href="#"><img src="../static/img/启梦社.jpg"  alt="图片"/></a></div>

      </div>
      <!------------------ end article_nav--------------------------->
    </div>
    <!------------------ end right--------------------------->
    <div class="clear"></div>
  </div>
  <!------------------ end main--------------------------->
  <div class="clear"></div>
  <div class="foot">
    <p>Copyright 2022</p>
    <p>All Rights Reserved</p>
  </div>
</div>
<script type="text/javascript" src="../static/js/club.js"> </script>
</body>
</html>