<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学术创新</title>
</head>
<body>
<link href="../static/css/club_style1.css" rel="stylesheet" media="screen" type="text/css" />
<div class="con">
  <div class="head">

    <div class="nav">
      <ul>
        <li><a href="club_index1.html">首页 </a></li>
        <li><a href="club_index2.html">学术创新 </a></li>
        <li><a href="club01_Voluntary_Public_Welfare.html">志愿公益 </a></li>
        <li><a href="club02_Physical_Health.html">体育健康 </a></li>
        <li><a href="club03_Campus_Service.html">校园服务 </a></li>
        <li><a href="club04_Culture_And_Art.html">文化艺术 </a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <!------------------ end nav--------------------------->
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="main">
    <div class="left">
      <div class=" l1"><a href="#"><img src="../static/img/swjtu_logo_1.1_sm.png"  alt="图片"/></a></div>
<input class="user-input" type="text" name="search" placeholder="请输入内容"> <input class="user-btn" type="button" value="搜索">
      <div class="left_nav">
        <ul>
          <li class="1.1"><a href="club_index2.html">学术创新 </a><span><a href="club_index2.html">13 </a></span></li>
          <li><a href="club01_Voluntary_Public_Welfare.html">志愿公益 </a><span><a href="club01_Voluntary_Public_Welfare.html">3 </a></span></li>
          <li><a href="club02_Physical_Health.html">体育健康 </a><span><a href="club02_Physical_Health.html">9</a></span></li>
          <li><a href="club03_Campus_Service.html">校园服务 </a><span><a href="club03_Campus_Service.html">7</a></span></li>
          <li><a href="club04_Culture_And_Art.html">文化艺术 </a><span><a href="club04_Culture_And_Art.html">8</a></span></li>
        </ul>
      </div>
      <!------------------ end left_nav--------------------------->

    </div>
    <!------------------ end left--------------------------->
    <div class="right">
      <div class="right_des">
        <h1>学术创新社团</h1>
        <h3 class="pass"><strong>西南交通大学环境协会</strong></h3>
        <p>西南交通大学环境协会成立于2015年9月，环境协会自成立以来，一直以“环境保护与可持续发展”为社团宗旨，并在发展过程中形成了凭借发挥专业优势、
          从我做起爱护环境、维护生态可持续发展、走全民环保的发展理念，大量的与环境相关的前沿知识和资源将为你专业学习保驾护航。
          积极引导更多有环保意识的在校师生投身于环保事业中，激发广大群众对环境问题的关注之心，引起人们对赖以生存的环境的关心爱护。一方面可以培养大学生环境保护方面的意识，
          另一方面可以提高大学生在实际中解决环境问题的能力，同时也可以加强同学们的团队协作及创新实践的能力。</p>
        <div class="m10"><a href="#"><img src="../static/img/西南交通大学环境学会.jpg"  alt="图片"/></a></div>
        <h3><strong>交通运输科技协会</strong></h3>
        <p>如果你是轨道交通、航空、巴士等爱好者、如果你想要参加全国级的竞赛、如果你希望在社团中成长，收获知识...来到这里，
          你将拥有最优秀的交通科创平台和最宽广的交通爱好者交流平台，了解最前沿的交通科技资讯结识一大批致力于趣味科普与探索出行攻略的“老司机”，
          了解最有趣的交通文化。</p>
        <div class="m10"><a href="#"><img src="../static/img/交通运输科技协会.jpg"  alt="图片"/></a></div>
        <h3><strong>物流协会</strong></h3>
        <p>西南交通大学物流协会是校团委领导下并挂靠于交通运输与物流学院的校级学术性社团。自2010年成立以来，
          物流协会始终秉持着将学术放在第一位的思想，
          致力于为全校物流专业与非物流专业的同学构建一个优秀的学习物流知识和理念以及进行思想交流的平台。</p>
        <div class="m10"><a href="#"><img src="../static/img/物流协会.jpg"  alt="图片"/></a></div>

        <h3><strong>大学生创造协会</strong></h3>
        <p>西南交通大学创造学会成立于1998年，隶属于西南交通大学社团联合会. 学会主要以举办各类活动的方式来提升同学们的创造能力，
          以增强同学们的动手能力，丰富同学们的课余生活，拓宽同学们的创新视野为主要目标，为交大培养了一代又一代具有创造性思维的创学人。
          举办了“OM头脑风暴”，“创客挑战赛”等覆盖面广影响力大的活动，并曾荣获西南交大“十佳学生社团”、四川省“百佳学生社团”等称号。自成立伊始，
          大学生创造学会秉承“创造让生活更美好”的理念，激发同学们发现并解决生活中问题的灵感，给予每个人动脑思考动手创造的机会。雄关漫道真如铁，
          而今迈向从头越。创学的大家庭期待着每一个热爱生活的你！</p>
        <div class="m10"><a href="#"><img src="../static/img/大学生创造学会.jpg"  alt="图片"/></a></div>

        <h3><strong>西南交通大学大学生心理学会</strong></h3>
        <p>创立于1996.6.9，是一个以“让健康者更健康，困惑者能得到及时帮助”为宗旨，致力于帮助我校大学生缓解在学习、生活和成长中遇到的心理困惑和烦恼，
          积极开展与心理相关的多种形式新颖的活动的校级社团。屡次被授予“校最佳社团”，“校明星社团”等光荣称号，
          并在2004年和2013年两次获得“全国十佳社团”称号，是交大成立最早、人数最多、影响最大的优秀校级社团。</p>
        <div class="m10"><a href="#"><img src="../static/img/西南交通大学大学生心理学会.jpg"  alt="图片"/></a></div>

        <h3><strong>中医药文化与健康学会</strong></h3>
        <p>中医药文化与健康协会创立于峨眉，繁盛于犀浦，依托于生命学院，成立于2005年，
          是交大唯- -涉猎药学和健康养生的协会，也是保持四年的五星级社团。药协旨在“弘扬国药传统文化，
          享受健康美丽人生”。社团设置了办公部、学术部、实践部和宣传部四个部门。办公统筹信息，
          学术制定规则，实践外出采购，宣传负责运营。特色活动包括王者荣药之包药包泡药茶，传统文化体验周活动，
          健康减肥大赛，三行情书等，与时俱进宣扬中医传统养生文化知识。日常泡脚养生，开黑团建，互帮互助，营造良好社团氛围。</p>
        <div class="m10"><a href="#"><img src="../static/img/中医药文化与健康学会.jpg"  alt="图片"/></a></div>

        <h3><strong>ACM协会</strong></h3>
        <p>ACM协会是交大老牌学术性社团，主要给同学们提供一个学习编程，交流算法，走进ACM竞赛的平台。
          我们热烈欢迎每一位对算法竞赛感兴趣的同学，也真诚地邀请各位加入我们协会，让四年的学术生活熠熠生辉。</p>
        <div class="m10"><a href="#"><img src="../static/img/ACM协会.jpg"  alt="图片"/></a></div>

        <h3><strong>G308机器人协会</strong></h3>
        <p>我们干什么?推广普及机器人知识，是我们的宗旨。设计制作各式机器人，
          是我们的乐趣。探索科技的奥秘，更是我们永恒的追求。</p>
        <div class="m10"><a href="#"><img src="../static/img/G308机器人协会.jpg"  alt="图片"/></a></div>

        <h3><strong>西南交通大学科幻协会</strong></h3>
        <p>西南交通大学科幻协会
          西南交通大学科幻协会建立于1997年，是交大热爱科幻，乃至奇幻的同学们的聚集地。我们坚信“科幻不死，铁甲依然”，
          在小说，电影，桌游，漫画等领域，挖掘着幻想的潜力，感受着幻想的魅力。不管你是不是一个铁杆粉丝，或是饱读科幻著作，
          或是只读过几本小说，或是有那么一部科幻电影和动漫让你神往，不论你信仰原力，心理史学，叹服黑暗森林，
          或是“凡人皆有一死”，只要你热爱幻想，那么，“我们，是同志了”。在这里我们一起去科幻世界编辑部，我们一起写科幻征文，举办幻想文化周，
          策划属于自己的密室逃脱，我们约桌游约电影，我们一起谈天说地。在这里我们将一同分享那些“不切实际”的想法，一起在幻想的天空中遨游，一起“玩出个未来”！ </p>
        <div class="m10"><a href="#"><img src="../static/img/西南交通大学科幻协会.jpg"  alt="图片"/></a></div>

        <h3><strong>大学生法律协会</strong></h3>
        <P>西南交通大学大学生法律协会成立于1996年，是隶属我校校团委、并以公共管理与政法学院为指导单位的校级学生社团。
          交大法协共有主席团、办公室、学术编辑部、网络宣传部、活动策划部、普法宣传部六个部门。协会一直以“弘法助人”为宗旨，
          并积极营造大学校园法治氛围，传播法律知识、弘扬法治精神，为学校依法治校和法制建设文化服务。法律协会创办并承办许多有重大影响力的活动，
          如一年一度的模拟法庭、法律情景剧大赛、宪法演讲比赛、宪法知识竞赛等。</P>
        <div class="m10"><a href="#"><img src="../static/img/大学生法律协会.jpg"  alt="图片"/></a></div>

        <h3><strong>创客协会</strong></h3>
        <P>西南交通大学创客协会成立于2016年，至今已经是第四届，协会依附于交大创客空间，负责协助管理创客空间，协会会不定期在校园内举办各种各样的活动，致力于向社会及校园传播创客文化，
          创客思想。协会还会组织对会员进行技术培训参加协会间和与创客圈子中的单位与个人交流。创客协会仅成立三年便升到三星社团，全校第一个参加竞选并获得十佳社团称号的三星级社团。
          协会现设会长一名、副会长一名、团支书一名，另设运营部，活动部，宣传部，外联部，技术部等五个部门。</P>
        <div class="m10"><a href="#"><img src="../static/img/创客协会.jpg"  alt="图片"/></a></div>

        <h3><strong>航模协会</strong></h3>
        <p>西南交大航模协会是一个与航空航天模型的飞行原理、制作和调试相关的社团，在航模协会里，我们会对航空航天模型进行许多深层次的讨论和设计。本协会还拥有自己的航模队，
          同时会代表西南交通大学参加全国的航空航天模型比赛（CADC）。本社团将以提高同学们对航空航天模型原理的认知，以及在“动脑做设计，动手做实物”上做出努力。
          日常工作包括：每周一次排班，同学们要在在值班过程中，学习飞行器模型原理，制作飞行器模型。如果参加了比赛，需要同学们花费更多的时间来制作将要参加比赛的航空航天模型。</p>
                <div class="m10"><a href="#"><img src="../static/img/航模协会.jpg"  alt="图片"/></a></div>
        <h3><strong>大学生物理协会</strong></h3>
        <p>物理协会由物理实验中心（国家级物理实验示范中心）指导， 部门包括办公室、宣传部、活动部、竞赛部，主要承办物理学术竞赛，此比赛比赛周期约为一年；
          同时承办过校级物理实验竞赛与普物知识竞赛，欢迎对此感兴趣的同学积极参加。参加竞赛可以认识不少别的学院的同学，在实验室交流讨论，共同进步。
          协会希望交大的同学们可以进一步认识和探究物理学，增长物理理论和实验知识，提高创新和独立思考的意识，培养团队协作的精神与科研能。协会的活动以及竞赛旨在活跃学校的学术氛围，
          为同学们创造一个交流的平台。</p>
        <div class="m10"><a href="#"><img src="../static/img/大学生物理协会.jpg"  alt="图片"/></a></div>

      </div>
      <!------------------ end article_nav--------------------------->
    </div>
    <!------------------ end right--------------------------->
    <div class="clear"></div>
  </div>
  <!------------------ end main--------------------------->
  <div class="clear"></div>
  <div class="foot">
    <p>Copyright 2022</p>
    <p>All Rights Reserved</p>
  </div>
</div>
<script type="text/javascript" src="../static/js/club.js"> </script>
</body>
</html>