<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>交大社团</title>
  <link rel="stylesheet" href="../static/css/club_index.css">
</head>
  <body>
  <div class="max">
    <div class="wrapper">
      <nav class="navbar">
        <a  href="index.html"><img class="logo" src="../static/img/swjtu_logo_1.1_sm.png" alt="云上交大图标"></a>
        <ul>
          <li><a  href="index.html">首页导航</a></li>
          <li><a href="jdhistory.html">交大历史</a></li>
          <li><a href="swjtudb.html">交大地标</a></li>
          <li><a href="fuwuquzhidao.html">交大商铺</a></li>
          <li><a class="active" href="club_index2.html">交大社团</a></li>
        </ul>
      </nav>
      <div class="center">
        <h1>
          欢迎加入交大社团
        </h1>
        <h2>
          Do something Different!
        </h2>
        <div class="buttons">

          <button onclick="window.location.href=('./club_index2.html')">

            探索更多

          </button>
          <button class="btn" onclick="window.location.href=('./login.html')">
            登入
          </button>
        </div>
      </div>
     </div>
     </div>
  <script type="text/javascript" src="../static/js/club.js"> </script>
  </body>
</html>