<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文化艺术</title>
</head>
<body>
<link href="../static/css/club_style1.css" rel="stylesheet" media="screen" type="text/css" />
<div class="con">
  <div class="head">

    <div class="nav">
      <ul>
        <li><a href="club_index1.html">首页 </a></li>
        <li><a href="club_index2.html">学术创新 </a></li>
        <li><a href="club01_Voluntary_Public_Welfare.html">志愿公益 </a></li>
        <li><a href="club02_Physical_Health.html">体育健康 </a></li>
        <li><a href="club03_Campus_Service.html">校园服务 </a></li>
        <li><a href="club04_Culture_And_Art.html">文化艺术 </a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <!------------------ end nav--------------------------->
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="main">
    <div class="left">
      <div class=" l1"><a href="#"><img src="../static/img/swjtu_logo_1.1_sm.png"  alt="图片"/></a></div>
      <div class="left_nav">
        <ul>
          <li><a href="club_index2.html">学术创新 </a><span><a href="club_index2.html">13 </a></span></li>
          <li><a href="club01_Voluntary_Public_Welfare.html">志愿公益 </a><span><a href="club01_Voluntary_Public_Welfare.html">3 </a></span></li>
          <li><a href="club02_Physical_Health.html">体育健康 </a><span><a href="club02_Physical_Health.html">9</a></span></li>
          <li><a href="club03_Campus_Service.html">校园服务 </a><span><a href="club03_Campus_Service.html">7</a></span></li>
          <li><a href="club04_Culture_And_Art.html">文化艺术 </a><span><a href="club04_Culture_And_Art.html">8</a></span></li>
        </ul>
      </div>
      <!------------------ end left_nav--------------------------->

    </div>
    <!------------------ end left--------------------------->
    <div class="right">
      <div class="right_des">
        <h1>文化艺术社团</h1>
        <h3 class="pass"><strong>西南交通大学大学生书画协会</strong></h3>
        <p>西南交通大学书画协会成立于2002年，是依托于校图书馆，校团委服务于全校师生的学生社团组织。协会建立的宗旨是传承中华民族优秀传统文化，并不断丰富交大学子的课余活动，提高大学生的审美情趣，
          在探讨钻研中为传统文化注入生机。书画协会会在每周六进行一次约两个小时的练笔，社团的各个部门的成员均可以参加。同时也会有相关部门的人员进行培训，教授。
          其次，书画协会每年还会举办像线上硬笔书法大赛，现场书画大赛等一系列比赛。</p>
        <div class="m10"><a href="#"><img src="../static/img/西南交通大学大学生书画协会.jpg"  alt="图片"/></a></div>
        <h3><strong>外语协会</strong></h3>
        <p>西南交大外语协会（Foreign Language Association of SWJTU）,简称FLA，成立于1991年，是西南交通大学成立最早的元老级别社团之一，迄今已走过了30个春秋，多次荣获西南交通大学“十佳学生社团”、“明星社团”等称号。同时作为文化艺术类五星级社团，
          外语协会主打英语，辅之世界各国语言和文化，旨在为广大喜爱英语和外国文化的交大学子提供一个交流的平台和展示的舞台。自1991年成立以来，外语协会一直不忘初心，秉承理念，给交大学子提供接触外语、学习外语和展示外语的平台，
          让更多对外语感兴趣的同学加入到我们之中。外语协会每年有热辣的“迎新晚会”，高质量的“雅思托福模考大赛”和“四六级模考”，还有汇聚群星的“交大之星”和“外研社杯”英语演讲比赛，
          不仅如此，我们还有奖品丰厚的“I Have A Pen”英语写作比赛，以及零食与欢乐相伴的“周年庆”“会员大会”等等。</p>
        <div class="m10"><a href="#"><img src="../static/img/外语协会.jpg"  alt="图片"/></a></div>
        <h3><strong>镜湖文学社</strong></h3>
        <p>镜湖文学社是西南交通大学社联认可的唯一文学社团，有着丰富的文学社团组织经验和浓厚的文学氛围。我们举办过文学沙龙、以诗润心、春季游园等多种文学活动，旨在培养社员的文学兴趣和能力，
          鼓励社员进行文学学习和创作，也支持对文学有兴趣的同学分享和讨论。我们的日常是社员学习文学和自我创作，并积极运营新媒体，以及参加社团组织开展的各种丰富多彩的活动。</p>
        <div class="m10"><a href="#"><img src="../static/img/镜湖文学社.jpg"  alt="图片"/></a></div>
        <h3><strong>南国相声社</strong></h3>
        <p>西南交通大学南国相声社协会是在西南交通大学校团委的领导下，由我校爱好相声、交际、学习等的在校生组成的学生社团。南国相声社成立于2014年10月13日，旨在为西南交通大学南北相声爱好者提供一个共同交流学习的平台，
          在丰富校园文化生活，给身边的人带来欢乐的同时，也致力于相声这一曲艺文化的传播、普及和创新，说出逗乐南北的相声。</p>
        <div class="m10"><a href="#"><img src="../static/img/南国相声社.jpg"  alt="图片"/></a></div>
        <h3><strong>齐契古风社</strong></h3>
        <p>齐契古风社成立于2015年6月，古风社“齐契”二字取自《兰亭序》—— “咏彼舞雩，异世同流。乃携齐契，散怀一丘”，“齐契”指志同道合之人，又有“同心默契”之意。
          社团宗旨：以对古风的热爱为奠基，结识知己，钻研同好，宣传发扬以中国传统文化为基调的新型古风文化，弘扬民族个性。我们已经成功举办了线上歌会、古风晚会、汉服摄影、
          手创沙龙等活动，在接下来的时间，我们也会有翻唱计划、舞台剧等活动陆续上线，一起来参与玩耍吧！</p>
        <div class="m10"><a href="#"><img src="../static/img/齐契古风社.jpg"  alt="图片"/></a></div>
        <h3><strong>西南交通大学扬音吉他社</strong></h3>
        <p>西南交通大学扬音吉他社成立于2017年9月，是一个广受同学喜爱和欢迎的学生社团组织。虽成立只有四年时间，但在音乐的指引下，越来越多的同学聚集于此。从起初的小琴房走到如今的大舞台，扬音吉他社承载着上百人的音乐梦想。
          我们始终秉承海纳百川的精神，将社团从少数吉他爱好者相互交流的平台变成为众多音乐爱好者的聚集地，以此丰富广大同学的大学生活。无论是指弹还是打鼓，键盘或是贝斯，只要是因为音乐，扬音吉他社便会敞开胸怀。
          在扬音吉他社，有音乐，有欢乐，更有爱！愿我们汇聚于此，扬我所音，听我所爱！</p>
        <div class="m10"><a href="#"><img src="../static/img/西南交通大学扬音吉他社.jpg"  alt="图片"/></a></div>
        <h3><strong>摄影协会</strong></h3>
        <p>西南交通大学摄影协会是由一群热爱摄影的交大学子组建的大家庭，这里不仅仅是交大老法师们的聚集地，更是你提升审美能力的不二之选。我们一直以开放包容的姿态鼓励大家相互交流，积极和其他社团进行交互。
          在这里，你能找到一众老法师，器材发烧友，和你畅聊器材，也有艺术专业的同学带大家了不一样的摄影，还有不定期地外拍活动，让大家在风景宜人的川藏尽情捕捉身边的美好时刻。希望加入本社团的小伙伴能够在摄协里找到兴趣相投的好伙伴，
          提升自己摄影水准，用相机去感知身边的一切！</p>
        <div class="m10"><a href="#"><img src="../static/img/摄影协会.jpg"  alt="图片"/></a></div>
        <h3><strong>白日梦影社</strong></h3>
        <p>白日梦影社于1996年创立，2018年正式更名。我们下属于图书馆社团联盟，每周都会在图书馆C508放映厅进行电影放映，举办每学期一届的百影讲堂，
          承办艺术节和特殊节日的电影展映，定期和校外影院合作举办电影包场放映，也会考虑参与大型电影节活动。白日梦影社希望为大家带来有深度有广度的观影，举办贴合大学生兴趣的活动，以独特视角观察、解读电影和世界。</p>
        <div class="m10"><a href="#"><img src="../static/img/白日梦影社.jpg"  alt="图片"/></a></div>

      </div>
      <!------------------ end article_nav--------------------------->
    </div>
    <!------------------ end right--------------------------->
    <div class="clear"></div>
  </div>
  <!------------------ end main--------------------------->
  <div class="clear"></div>
  <div class="foot">
    <p>Copyright 2022</p>
    <p>All Rights Reserved</p>
  </div>
</div>
<script type="text/javascript" src="../static/js/club.js"> </script>
</body>
</html>